
<div *ngIf="currentClient$|async as currentClient; else commandFinished">
  <h4 class="title-center"> Table{{currentClient.tableNumber}}</h4>
  <h4 class="title-center">P{{currentClient.clientNumber}}</h4>
  <div class="categories">
    <app-category *ngFor="let  category of categories" [title]="category.title" [imageLink]="category.path" class="category"  routerLink="/menu">

    </app-category>
  </div>
</div>



<ng-template #commandFinished >
  <div class="finishOrder">
    <mat-card class="finishContent">
      <mat-card-content >
        <h3>Order validated</h3>
        <h3>Order Number:</h3>
        <h2>{{commandNumber}}</h2>
        <button mat-button routerLink="/">Ok</button>
      </mat-card-content>
    </mat-card>

  </div>
</ng-template>
