/* You can add global styles to this file, and also import other style files */
body {

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1, h2, .mat-typography h1, .mat-typography h2 {
  font: unset;
  font-size: unset;
  letter-spacing: unset;
  margin: unset;
  font-size: 2rem;
  margin: 0 0 1rem;
}
