<div *ngIf="currentClient$|async as currentClient else commandFinished">
  <app-header></app-header>
  <!-- Boutons pour filtrer les items par catégorie -->
  <div class="filter-buttons">
    <button (click)="displayAllItems()">All</button>
  </div>


  <div class="menu-container">
    <div *ngFor="let item of items" class="menu-item">
      <app-menu-item
        [item]="item"
        (quantityChanged)="handleQuantityChange($event)">
      </app-menu-item>

      <div class="quantity-controls">
        <button (click)="decreaseQuantity(currentClient.commandNumber,currentClient.tableNumber,currentClient.clientNumber,item)">−</button>
        <span>{{ item.quantity }}</span>
        <button (click)="increaseQuantity(currentClient.commandNumber,currentClient.tableNumber,currentClient.clientNumber,item)">+</button>
      </div>
    </div>
  </div>

  <div class="cart" *ngIf="cart.length > 0" (click)="onCartClick()">
    <h2>Your Cart</h2>
    <div *ngFor="let item of cart">
      <p>{{ item.fullName }} - Quantity: {{ item.quantity }}</p>
    </div>
    <p>Total: {{ getTotal() }} €</p>
    <button (click)="validateCart(currentClient.commandNumber,currentClient.tableNumber,currentClient.clientNumber)">Validate Cart</button>
  </div>
  <button mat-flat-button *ngIf="!(isTheFirst$ | async) " class="copyButton" (click)="openCopyModal(currentClient)" >
    Copy the order
  </button>

</div>



<ng-template #commandFinished>
  <div class="finishOrder">
    <mat-card class="finishContent">
      <mat-card-content >
        <h3>Order validated</h3>
       <h3>Order Number:</h3>
        <h2>{{commandNumber}}</h2>
      </mat-card-content>
    </mat-card>

  </div>
</ng-template>
