.menu-container {
   /* display: flex;
    flex-direction: column;
    gap: 10px;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .quantity-controls {
    display: flex;
    align-items: center;
  }

  .quantity-controls button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
  }
  .copyButton{
    background-color: #0c1f27 !important;;
    color: white !important;;
  }
  .finishOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  .finishContent{
    padding: 3em;
    text-align: center;
  }
